.intro
	display none
	margin 0 auto
	padding 6rem 1rem 3rem 1rem

	&__hed
		margin 0 auto
		max-width 60rem
		text-align center

	&__dek
		margin 0 auto
		margin-top 1rem
		max-width $column-width
		text-align center

	&__byline
		margin 0 auto
		margin-top 1rem
		max-width $column-width
		text-align center

	&__time
		display block
		margin 0 auto
		margin-top 1rem
		max-width $column-width
		text-align center
