.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem
	max-width $column-width
	text-align center

	&__byline
		border 1px solid $gray-light
		background-color $off-white
		set-type-size(small)
		display inline-block
		margin 0 auto
		padding 0.5rem

	&__overline
		set-type-size(small)
		margin-bottom 0

	&__prompt
		margin 0

	span
		display none

	.visible
		display inline