.figure__odds
	p, li
		font-size 0.8em

	ul
		display flex
		flex-direction column
		align-items center
		width 2em

		&:last-of-type
			width 4em

	li
		margin-bottom 0.5em
		padding 0.5em
		text-align center

	span
		display inline-block
		width 1em

	.is-right
		background-color $right