.figure__piano
	height 500px
	padding 0
	&[data-type="two"]
		button 
			display none

	.key
		stroke $off-black
		stroke-width 1px

		&__white
			fill $gray-light

			&.active
				fill rgba($white, 1)

		&__black
			fill $gray
			&.active
				fill rgba($off-black, 1)
		
		&__rest 
			fill transparent
			stroke none

	.guide
		stroke-width 1px
		stroke-dasharray 4
		stroke $off-black
		fill none

	.note
		fill $wrong

		&.is-correct
			fill $right