.figure__piano
	position relative
	padding 0

	.figure__inner
		overflow hidden
		height 320px

		&:after
			position absolute
			bottom 0
			left 0
			display block
			width 100%
			height 1.5rem
			background-image linear-gradient(to bottom, rgba($off-white, 0) 0, $off-white 90%, $off-white 100%)
			content ''

	&[data-type='all']
		margin-top 1rem

	&[data-type='two']
		.figure__restart
			display none

		.key.active
			cursor pointer

	.key
		stroke $off-black
		stroke-width 1px

		&__white
			fill $gray-light

			&.active
				fill $bg

		&__black
			fill $gray

			&.active
				fill $fg

		&__rest
			fill-opacity 0
			stroke-dasharray 2px 2px

	.guide
		stroke-width 1px
		stroke-dasharray 4
		stroke $off-black
		fill none

	.note
		fill $wrong

		&.is-correct
			fill $right

	text
		font-size 0.7em

	button
		padding 0.5em