.probability__container
	display flex
	align-items flex-start
	padding 1rem
	border 1px solid $gray-light
	background-color $off-white
	font-family $mono

	div
		padding 0 1rem
		width 25%

	p, li
		margin 0
		font-size 0.8em

	span
		display block

	ul
		display flex
		flex-wrap wrap
		align-items flex-start
		margin-top 0.5em
		width 100%

	li
		margin-top -1px
		margin-left -1px
		width 0.75em
		height 0.75em
		border 1px solid $gray

		&:first-of-type
			background-color $right