/* CUSTOM STORY STYLE */
#temp
	padding 5rem 1rem
	font-family $mono

	table
		th
			font-weight bold

		td, th
			padding 0.75em
			set-type-size(small)

		tr
			border-bottom 1px solid $fg

		td, th
			text-align right

			&:nth-of-type(1)
				text-align left
article 
	max-width $column-width 
	margin 5rem auto 0 auto