/* CUSTOM STORY STYLE */
body
	background-color $bg
	font-family $sans

mark
	padding 0.25em 0.5em
	background-color $highlight

main.is-ready #intro
	.choices
		opacity 1

	.loading
		display none

article
	margin 0 auto
	padding 1rem
	padding-top 4rem

	> *
		max-width $column-width

	p
		margin 1.5rem auto

		+mq('bp-4')
			set-type-size(x-large, false)
			line-height 1.5

.btn
	padding 0.75em
	background-color $fg
	color $bg
	font-weight bold
	font-size 1em
	font-family $sans
	line-height 1

	svg
		width 1em
		height 1em
		vertical-align top

figure
	margin 3rem auto
	padding 1rem
	background-color $off-white
	font-family $mono
	user-select none

.instruction
	margin 0
	text-align center
	font-size 0.75em

.inline-audio
	margin-right 0.25em
	padding 0 0.25em
	background $fg
	color $bg
	cursor pointer

	svg
		display inline-block
		width 1em
		height 1em
		vertical-align middle
		transform translateY(-0.1em)

		path, polygon
			stroke $bg

.hidden-audio
	display none