/* CUSTOM STORY STYLE */
body
	font-family $sans

article
	margin 0 auto
	padding 6rem 1rem 0 1rem
	max-width $column-width

	p
		margin 1rem auto

		+mq('bp-4')
			set-type-size(x-large, false)
			line-height 1.5

main
	button
		padding 1em
		border 1px solid $gray-light
		background-color $off-black
		color $white
		font-weight bold
		font-size 1em
		font-family $sans
		line-height 1

		svg
			width 1em
			height 1em
			vertical-align top

iframe, video, .odds__container, .probability__container
	margin 2rem auto