<figure class='figure__clock'>
	<table>
		<thead>
			<tr><th>days</th><th>hours</th><th>minutes</th><th>seconds</th></tr>
		</thead>
		<tbody>
			<tr>
				<td class='days'>00</td>
				<td class='hours'>00</td>
				<td class='minutes'>00</td>
				<td class='seconds'>00</td>
			</tr>
		</tbody>
	</table>
</figure>