<div id='intro' class='intro'>
	<p class='intro__byline'>This is a live experiment, running since April 2020, by 
		<a href='{{meta.author.url}}' target='_blank'><strong>{{meta.author.first}}</strong></a> and <a href='{{meta.author2.url}}' target='_blank'><strong>{{meta.author2.first}}</strong></a>.
	</p>
	<p class='intro__overline'>Audio is <span>off by default.</span></p>
	<p class='intro__prompt'>
		<button class='btn' data-audio='on'>Begin with Audio <img inline src='volume-2.svg'></button>
		<button class='btn' data-audio='off'>Continue Muted <img inline src='volume-x.svg'></button>
	</p>
</div>