<div class='intro'>
	<p class='intro__byline'>This is a live experiment, running since April 2020, by 
		<a href='{{meta.author.url}}' target='_blank'><strong>{{meta.author.first}}</strong></a> and <a href='{{meta.author2.url}}' target='_blank'><strong>{{meta.author2.first}}</strong></a>.
	</p>
	<p class='intro__overline'>Audio is <span class='off visible'>off by default</span><span class='on'>on. Good choice.</span></p>
	<p class='intro__prompt'><button><span class='off visible'>Enable</span><span>Disable</span> <img inline src='headphones.svg'></button></p>
</div>