<figure class='figure__odds'>
	<p>There are two possible results for just the first note:</p>
	<ul>
		<li class='is-right'><span>G</span></li>
		<li><span>E<sup>♭</sup></span></li>
	</ul>
	<p><mark><strong>2</strong> possibilities = 1 / <strong>2</strong> = 50% chance of getting it correct.</mark></p>
	
	<p>And for two notes in a row:</p>
	<ul>
		<li class='is-right'><span>G</span> &mdash; <span>G</span></li>
		<li><span>G</span> &mdash; <span>E<sup>♭</sup></span></li>
		<li><span>E<sup>♭</sup></span> &mdash; <span>G</span></li>
		<li><span>E<sup>♭</sup></span> &mdash; <span>E<sup>♭</sup></span></li>
	</ul>
	<p><mark><strong>4</strong> possibilities = 1 / <strong>4</strong> = 25% chance of getting it correct.</mark></p>
</figure>

