<figure class='figure__results'>
	<div class='inner'>
		<table>
			<thead>
				<tr>
					<th><strong>Song</strong></th>
					<th><strong>Artist</strong></th>
					<th><strong>Odds</strong></th>
					<th><strong>Attempts</strong></th>
					<th><strong>Estimated Completion</strong></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<p><button class='btn'>Show All</button></p>
</figure>
