<section id='temp'>
<p class='start'>Start: <span></span></p>
<p class='updated'>Updated: <span></span></p>	
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Odds (1 in X)</th>
			<th>Attempts Per Min</th>
			<th>Attempts</th>
			<th>Estimated Hours</th>
			<th>End</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
</section>